html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Navigation bar and components*/
.nav-item {
    float: right;
}

.nav-item a {
    display: block;
    padding: 0px 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-menu {
    background-color:aqua;
    line-height: 64px;
    height: 64px;
    overflow: hidden;
    width: 100%;
}

#colmar-academy {
    float: left;
    font-size: 32px;
    padding-left: 8px;
    text-align: center;
}

#logo {
    height: 48px;
    float: left;
    padding-left: 20px;
    padding-top: 8px;
}

#nav-end {
    margin-right: 16px;
}

/*Hero section*/
.hero-banner {
    background-color:lightgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.hero-image {
    float: left;
    padding: 24px;
}

#hero-image-img {
    width: 55vw;
}

.hero-text {
    font-weight: bold;
    margin-right: 24px;
}

.hero-text h1 {
    font-size: 64px;
    padding: 32px 0;
    color:rgb(85, 85, 85);
}

.hero-text h3 {
    font-size: 32px;
    color:rgb(85, 85, 85);
}

.hero-button {
    background-color:dimgrey;
    color:floralwhite;
    font-size: 32px;
    border: none;
    width: 100%;
    padding: 12px;
    margin: 32px 0;
}

.hero-button:hover {
    cursor: pointer;
    background-color:rgb(63, 63, 63)
}

/*Colmar Academy information section*/
.colmar-info {
    overflow: hidden;
}

.info-main {
    font-size: 48px;
    font-weight: bold;
    padding: 32px 0 24px;
    color:dimgray;
}

.info-image {
    float: left;
    padding: 32px 24px;
    width: 55vw;
}

#info-image-img {
    width: 55vw;
}

.info-lorem {
    font-size: 22px;
    color: dimgray;
    font-style: italic;
}

.info-quote {
    font-size: 22px;
    padding: 32px 0;
    color:dimgray;
}

.info-text {
    margin: 16px 0 16px 0;
    height: 100%;
}

.card-image {
    padding: 16px;
    height: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
}

.card:hover {
    background-color:lightgray;
    transition: background-color 1.5s;
}

.card-image-img {
   width: 15vw;
}

.card-title {
    font-size: 32px;
    color:dimgray;
}

.card-body {
    padding: 8px 0;
    font-size: 22px;
    color: dimgray;
}

.card-link {
    font-size: 22px;
    text-decoration: none;
    color:cornflowerblue;
}

/*Start learning section*/
.start-learning {
    background-color: lightgray;
}

.learning-title {
    font-size: 64px;
    padding: 32px 0;
    color:rgb(85, 85, 85);
    text-align: center;
    font-weight: bold;
}

.learning-cards {
    padding: 0 56px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
}

.course-card {
    background-color:ghostwhite;
    margin: 16px;
    height: auto;
    width: 30%;
    padding-bottom: 16px;
    overflow: hidden;
}

.course-image-img {
    width: 100%;
}

.course-title {
    font-size: 32px;
    color:rgb(85, 85, 85);
    padding: 16px;
}

.course-p {
    font-size: 22px;
    color:gray;
    padding: 8px 16px;
}