html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Navigation bar and components*/
.nav-item {
    float: right;
}

.nav-item a {
    display: block;
    padding: 0px 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-menu {
    background-color:aqua;
    line-height: 64px;
    height: 64px;
    overflow: hidden;
    width: 100%;
}

#colmar-academy {
    float: left;
    font-size: 32px;
    padding-left: 8px;
    text-align: center;
}

#logo {
    height: 48px;
    float: left;
    padding-left: 20px;
    padding-top: 8px;
}

#nav-end {
    margin-right: 16px;
}

/*Hero section*/
.hero-banner {
    background-color:lightgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    float: left;
    padding: 24px;
}

#hero-image-img {
    width: 55vw;
}

.hero-text {
    font-weight: bold;
    margin-right: 24px;
}

.hero-text h1 {
    font-size: 64px;
    padding: 32px 0;
}

.hero-text h3 {
    font-size: 32px;
}

.hero-button {
    background-color:dimgrey;
    color:floralwhite;
    font-size: 32px;
    border: none;
    width: 100%;
    padding: 12px;
    margin: 32px 0;
}

.hero-button:hover {
    cursor: pointer;
    background-color:rgb(63, 63, 63)
}